@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    font-family: 'IBM Plex', monospace;
}

.control-panel {
    background-color: #dcd3ffb3;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 5px 10px 8px #97A2FF;
    min-height: min-content;
    display: flex;
}

.col1, .col2, .col3 {
    float: left;
    width: 33%;
    text-align: center;
}

#object {
    border: none;
    padding: 5px 5px;
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'IBM Plex', monospace;
}

button:hover {
    background-color: #f7f1f1;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

input[type=color] {
    border: none;
    background: none;
}

.slider {
    appearance: none;
    width: 40%;
    height: 15px;
    background: #fdfdfd;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 10px;
}
  
.slider:hover {
background: #f7f1f1;
}
  
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: #97A2FF;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 15px;
height: 15px;
background: #97A2FF;
cursor: pointer;
}