@import url('https://fonts.googleapis.com/css2?family=Lucida+Sans=Typewriter');

body {
  font-family: 'Lucida Sans Typewriter', monospace;
}

.title {
  text-align: center;
}

.canvas {
  text-align: center;
}

#gl-canvas {
  width: 700px;
  height: 700px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.control-section {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 1000px;
  height: fit-content;
  padding: 20px 20px;
  margin: auto;
}